[worldserver]

#
#    DuelReset.Cooldowns
#        Description: 重置所有的冷却时间之前决斗开始和恢复他们当决斗结束。
#        Default:     1  - (Enabled)
#                     0  - (Disabled)

DuelReset.Cooldowns = 1

#    DuelReset.HealthMana
#        Description: 在决斗开始前重置生命值和法力值，决斗结束后恢复它们。
#        Default:     1  - (Enabled)
#                     0  - (Disabled)

DuelReset.HealthMana = 1

#    DuelReset.CooldownAge
#        Description: 重置所需的冷却时间。 自冷却开始后以秒为单位测量。
#        Default:     30  - (Enabled)
#                     0  - (Disabled)

DuelReset.CooldownAge = 30

#    DuelReset.Zones
#        Description: Whitelist of ZoneIDs seperated by Semicolons (;) where the reset for cooldowns and health/mana is enabled.
#                     If Zones is set to any, the set Areas do not matter. The reset will always be applied.
#                     If Zones is set to none, only the set Areas matter.
#
#        Examples:    "876;3817" - (GM Island;Testing)
#                     "0" - (none)
#                     ""  - (any)
#        Default:     "0" - (none)

DuelReset.Zones = "0"

#    DuelReset.Areas
#        Description: Whitelist of AreaIDs seperated by Semicolons (;) where the reset for cooldowns and health/mana is enabled.
#                     If Areas is set to any or none, only the set Zones matter.
#
#        Examples:    "85;1" - (Tirisfal Glades;Dun Morogh)
#                     "0" - (none)
#                     ""  - (any)
#        Default:     "12;14;809" - (Elwynn Forest;Durotar;Gates of Ironforge)

DuelReset.Areas = "12;14;809"
